# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.CloneKing-master.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\USER1\Desktop\CloneKing-master\.idea\.idea.CloneKing-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
