# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.CloneKing.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\user\Documents\GitHub\CloneKing\.idea\.idea.CloneKing\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
